.weekly__forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  overflow-y: scroll;
  max-height: 220px;
  padding: 5px;
  margin: 0 auto;
  background-color: lightgray;
  gap: 10px;
}
.weekly__forecast-screen {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 390px;
  text-align: center;
  align-items: center;
  /* min-height: 100px; */
}

.weekly__forecast-screen h4,
.weekly__forecast-screen h3 {
  border-right: 2px solid white;
  max-width: 32%;
}
.weekly__forecast-screen h4 {
  margin: 10px 0px;
  background-color: lightgrey;
  display: block;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (min-width: 600px) {
  .weekly__forecast-container {
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: initial;
    gap: 10px 39px;
  }
  .weekly__forecast-screen {
    min-width: 48%;
    padding: 15px;
    border: 1px solid rgba(211, 211, 211, 0.4);
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weekly-forecast-icon {
    width: 45px;
  }
}
