.hourly__data-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  border-bottom: 1px solid silver;
  padding: 10px;
}
.hourly__data-screen {
  height: 150px;
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid seagreen;
}
