.hourly__data-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
  gap: 13px;
  justify-content: flex-start;
  padding: 10px;
}
.hourly__data-screen {
  /* min-width: 30.8%;
  max-width: 120px;  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  width: 100px;
  min-width: 25%;
}
.hourly__data-screen h4 {
  margin: 10px 0px;
  padding: 5px 0;
  display: block;
  border-radius: 5px;
}
.hourly__data-screen h3 {
  margin: 5px;
}

@media screen and (min-width: 600px) {
  .hourly__data-wrapper {
    gap: 15px 8px;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 35px auto;
  }
  .hourly__data-screen {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    min-width: none;
    box-shadow: 0 0 5px lightgray;
    background-color: #e0e0e077;
    height: 250px;
  }
  .hourly-forecast-icons {
    width: 45px;
    height: 45px;
  }

  .hourly__data h3 {
    display: inline-block;
    font-size: 1rem;
    margin: 5px 15px;
  }
}
