.main {
  margin: 0px auto;
  padding: 15px;
}

.forecast {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
  color: white;
}
.forecast__img {
  width: 100px;
  height: 100px;
}
.attributes {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 0px 5px;
  justify-content: space-around;
  margin: 10px auto;
  gap: 10px;
  border-bottom: 1px solid silver;
}

.attribute-wrapper {
  height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  color: white;
  flex: 1;
  border: 2px solid seagreen;
}
.attribute-wrapper img {
  width: 70px;
  height: 70px;
  /* background-color: deepskyblue; */
  margin: 0 3px;
  border-radius: 50%;
  background-color: white;
}
