.main {
  margin: 0px auto;
  max-width: 1200px;
  /* background-color: lightgray; */
  /* background: url('../../../public/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.forecast {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.alert,
.weather-data {
  background-color: #87cefa37;
}
.alert {
  height: 200px;
  text-align: center;
}
.weather-data {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  text-align: center;
  align-items: center;
}

.weather-data > div {
  width: 33%;
}

.weather-data > div > h5 {
  color: black;
}
.forecast__img {
  width: 100px;
  height: 100px;
}
.forecast-icon {
  border-radius: 50%;
}
.alert > div:first-child {
  font-size: 3.5rem;
}
.alert:last-child {
  font-size: 1rem;
}
@media screen and (min-width: 600px) {
  .forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
  }

  .alert,
  .weather-data {
    flex: 1;
    height: 300px;
    display: flex;
    align-items: center;
    color: white;
    /* background-color: darkgrey; */
  }
  .alert {
    justify-content: center;
    text-transform: capitalize;
    border-right: 1px solid white;
    align-items: center;
    flex-direction: column;
  }
  .weather-data {
    /* font-size: 1rem; */
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .weather-data > div {
    min-width: 25%;
    text-align: center;
  }
}
