.main {
  margin: 0px auto;
  background-color: lightgray;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 120px;
  grid-gap: 5px;
  grid-template-areas: 'a b c' 'd b e';
  max-width: 1000px;
  margin: 0 auto;
}

.forecast div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

.temp {
  grid-area: a;
}
.real-feel {
  grid-area: c;
}
.alert {
  grid-area: b;
  flex-direction: column;
}

.humidity {
  grid-area: d;
}
.pressure {
  grid-area: e;
}
.forecast__img {
  width: 100px;
  height: 100px;
}
.forecast-icon {
  /* background-color: deepskyblue; */
  border-radius: 50%;
}
.attributes {
  max-width: 1000px;
  /* background-color: white; */
  margin: 0 auto;
  padding: 5px 3px;
  margin: 5px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 8px;

  grid-template-areas:
    'a a b'
    'c c b';
}

.attribute-wrapper {
  /* background-color: #fafafa; */
  padding: 5px;
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
}

.attribute-wrapper-one {
  grid-area: a;
  justify-content: flex-start;
  align-items: center;
}
.attribute-wrapper-two {
  grid-area: b;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.attribute-wrapper-three {
  grid-area: c;
  justify-content: flex-start;
  align-items: center;
}

.attribute-wrapper img {
  width: 70px;
  height: 70px;
  /* background-color: deepskyblue; */
  margin: 0 3px;
  border-radius: 50%;
  /* background-color: white; */
}

@media screen and (min-width: 600px) {
  .main {
    background-color: white;
  }
  .attributes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;
    grid-gap: 8px;
    grid-template-areas: 'a b c';
  }
  .attribute-wrapper {
    border-right: 2px solid rgba(211, 211, 211, 0.4);
    border-radius: 0;
    display: flex;
    justify-content: center;
  }
  .attribute-wrapper-one {
    border-left: 2px solid rgba(211, 211, 211, 0.4);
  }
  .attribute-wrapper-two {
    flex-direction: row;
  }
}
