.search-container {
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  max-width: 1000px;
  height: 50px;
  position: relative;
}

.search {
  position: absolute;
  right: -5px;
  width: 50px;
  max-width: 1000px;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 2px solid deepskyblue;
  /* padding: 0 10px; */
  background: url('https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-ui-dreamstale-lineal-dreamstale.png');
  background-position: top 8px right 10px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition: 0.25s;
  margin: 0 5px;
}

.search:focus {
  width: 93%;
  background-color: rgba(0, 191, 255, 0.1);
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  font-size: x-large;
  letter-spacing: 1px;
}

@media screen and (min-width: 600px) {
  .search:focus {
    width: 100%;
    background-position: top 8px left 10px;
    padding-left: 50px;
  }
}
