.main {
  margin: 0px auto;
  padding: 15px;
  /* border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px; */
}

.forecast {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  /* box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.2); */
}
.forecast__img {
  width: 100px;
  height: 100px;
}
.attributes {
  display: flex;
  padding: 10px 5px;
  justify-content: space-around;
  margin: 10px auto;
  /* width: 90%; */
  border-radius: 30px;
  /* box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.2); */
}

.attribute-wrapper {
  height: 220px;
  /* border: 1px solid red; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 60px;
  /* color: white !important; */
  width: 30%;
  border: 4px outset deepskyblue;
  /* background-color: deepskyblue; */
}
.attribute-wrapper img {
  width: 70px;
  height: 70px;
  /* background-color: deepskyblue; */
  margin: 0 3px;
  border-radius: 50%;
}
