.nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border-bottom: 3px solid lightcyan;
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: rgba(0, 255, 255, 0.178);
}

.nav__btn {
  background-image: url('https://img.icons8.com/external-tulpahn-flat-tulpahn/64/000000/external-earth-space-tulpahn-flat-tulpahn.png');
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  border: 3px solid lightcyan;
}

.nav__lnk-list {
  display: none;
  list-style: none;
  position: absolute;
  top: 5px;
  left: 19%;
  border: 1px solid green;
  width: 80%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.247);
  z-index: 1000;
  padding: 80px 5px;
  border-left: 30px solid black;
  border-radius: 30px;
}

.nav__lnk-list li {
  margin-bottom: 5px;
  padding: 15px 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.329);
}

.nav__search-container {
  display: flex;
  align-items: center;
}

.nav__search {
  display: none;
  width: 60vw;
  height: 35px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
}
.nav__search-btn {
  background: url('https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-ui-dreamstale-lineal-dreamstale.png');
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
/* .nav__link-list-opened {
  list-style: none;
  position: absolute;
  top: 0;
  left: 20%;
  border: 1px solid green;
  width: 80%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.247);
} */

.nav__link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2rem;
  line-height: 25px;
}
