.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
}

.search {
  width: 0%;
  max-width: 950px;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 2px solid deepskyblue;
  padding: 0 5px;
  position: relative;
  right: -20px;
}
.search-btn {
  /* background: url('https://img.icons8.com/ios-filled/50/000000/search--v1.png'); */
  background: url('https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-ui-dreamstale-lineal-dreamstale.png');
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 2px solid deepskyblue;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
}
.search-btn:hover + .search {
  width: 100%;
}
